xmlfiles/RelaxNG/LocationSchema.rnc

start = xml
xml = element xml {mixed{location | dialogue}+}
location = element location {place, mixed{dialogue | name}+}

dialogue = element dialogue {who, (text | name)*}
who = attribute who {xsd:string}

name = element name {type, text}
type = attribute type {xsd:string}
place = attribute place {xsd:string}