xmlfiles/CharactersXML/CharacterSchema.rnc

start = xml
xml = element xml {p+}

p = element p {context, dialogue, text}
context = element context {text, event?, date?}
dialogue = element dialogue {who?, text}
event = element event {text}
date = element date {season, text}

who = attribute who {xsd:string}
season = attribute season {xsd:string}